*,
*:after,
*:before {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  list-style: none;
  border: 1px solid #c0c0c0;
  float: left;
}

.menu li {
  position: relative;
  float: left;
  border-right: 1px solid #c0c0c0;
}

.menu li a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.menu li a:hover {
  background: #333;
  color: #fff;
}

.menu li ul {
  position: absolute;
  top: 29px;
  background-color: #fff;
  display: none;
}

.menu li:hover ul,
.menu li.over ul {
  display: block;
}

.menu li ul li {
  border: 1px solid #c0c0c0;
  display: block;
  width: 150px;
}
